# Manifest files
Manifest.toml

# Compiled cache, coverage, and memory allocation files
*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
*.ji

# Documenter.jl
docs/build/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editors (VS Code, Zed, Vim)
.vscode/
.VSCodeCounter
.zed/

# Misc
imgui.ini
tmp/
/CImGui*
