tmp/
/precompile
/CImGui*
/.vscode
/.VSCodeCounter
.DS_Store

#Julia
*Manifest.toml*
/LocalPreferences.toml
/*.tar.gz
/dist
/dist-extras
/julia
/julia.bat
/usr
/oprofile_data
/usr-staging
/Make.user
/julia-*
/source-dist.tmp
/source-dist.tmp1

#Documenter.jl
/docs/build
/docs/site


*.exe
*.dll
*.dwo
*.do
*.o
*.o.tmp
*.obj
*.so
*.dylib
*.dSYM
*.jl.cov
*.jl.*.cov
*.jl.mem
*.jl.*.mem
*.ji

imgui.ini